* {
    box-sizing: border-box;
  }

header {
    display: flex;
    justify-content: center;
    background-color: rgb(60, 35, 202);
}

header h1 {
    color: white;
    font-size: 3em;
}

.search {
    display: block;
    margin-left: 20px;
    margin-top: 20px;
}

.search h2 {
    font-size: 2rem;
}

.searchBar input{
    width: 75%;
    height: 60px;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.2em;
    border-width: 3px;
}

.searchBar button {
    width: 75%;
    height: 40px;
    background-color: rgb(75, 114, 174);
    color: white;
    font-size: 1.2em;
}