* {
    box-sizing: border-box;
  }

header {
    display: flex;
    justify-content: center;
    background-color: rgb(60, 35, 202);
}

header h1 {
    color: white;
    font-size: 3em;
}

.search {
    display: block;
    margin-left: 20px;
    margin-top: 20px;
}

.search h2 {
    font-size: 2em;
}

.searchBar input{
    width: 75%;
    height: 60px;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.2em;
    border-width: 3px;
}

.searchBar button {
    width: 75%;
    height: 40px;
    background-color: rgb(91, 134, 199);
    color: white;
    font-size: 1.5em;
}

hr {
    border: 2px solid black;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.forecastcontainer {
    margin-top: 20px;
}

.currentForecastContainer {
    display: block;
    border: 2px solid black;
    padding: 5px;
    margin-left: 5%;
}

.currentForecastContainer h2 {
    font-size: 2.5em;
}

.currentForecastContainer p {
    font-size: 1.5em;
}